/* styles.css */
body {
  background-image: url(https://img.freepik.com/free-vector/binary-code-stream-digital-data-codes-hacker-coding-crypto-matrix-numbers-flow-digitally-blue-screen-abstract-background_102902-991.jpg);
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 300;
  text-align: center;
}

.game-name {
  color: ghostwhite;
  border: 1px solid white;
  font-weight: 900;
  font-size: 30px;
  background-color: black;
}

.main-div {
  color: lightgray;
  padding-top: 75px;
  font-weight: 500;
}

.input-div {
  background-image: url(https://cdn.wallpapersafari.com/88/33/jOKqHx.jpg);
  background-size: cover;
  min-height: 900px;
  border: 2px solid yellow;
}

.textbox-guess {
  height: 50px;
  font-size: 20px;
}

#first-button {
  position: relative;
  bottom: 2px;
}

#inner-instructions {
  background-color: black;
  z-index: 100;
}

#guessCount {
  background-color: black;
  width: 200px;;
  position: relative;
  right: 50px;
}

.generic-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

#incorrect {
  color: red;
  font-weight: 900;
}
